.navigation-bar {
  display: flex;
  padding: 20px 40px;
}

.red-nav {
  background-color: #cf2338;
}

.blue-nav {
  background-color: #2346cf;
}

.green-nav {
  background-color: #67cf23;
}

.navigation-bar p {
  font-weight: bold;
  font-size: 16px;
  flex: 1;
  color: white;
  margin: 0;
}

.dropdown {
  text-align: right;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.username-container {
  display: flex;
}

.username-container div {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 46px;
  right: 0px;
  height: 95px;
  width: 180px;
  background-color: white;
  font-weight: bold;
  position: absolute;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dropdown li a {
  color: #000;
  text-decoration: none;
}

.dropdown li {
  border-bottom: none;
  padding: 10px 16px 14px 16px;
}

.dropdown li p {
  color: black;
}

.dropdown li:hover {
  cursor: pointer;
  background-color: #cf2338;
  color: white;
}

.dropdown li:hover p {
  color: white;
}

.dropdown ul a {
  text-decoration: none;
}

.modal-log-out .modal-dialog {
  position: absolute;
  right: 40%;
  top: 28%;
  width: 260px;
}

.modal-title {
  color: #cf2338;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
}

.modal-button-group-container {
  display: flex;
}

.modal-log-out .modal-button-group-container {
  justify-content: space-between;
}

.modal .modal-logout-button-container {
  text-align: right;
  margin-right: 16px;
}

.modal .modal-logout-button-container button {
  border: 1px solid #e9424d;
  background-color: #e9424d;
  color: white;
}

.modal .modal-logout-button-container button:hover {
  border: 1px solid #cf2338;
  background-color: #cf2338;
  color: white;
}

.modal .modal-cancel-button-container {
  text-align: right;
}

.modal .modal-cancel-button-container button {
  border: 1px solid gray;
  background-color: gray;
  color: white;
}

.modal .modal-cancel-button-container button:hover {
  border: 1px solid #666666;
  background-color: #666666;
  color: white;
}

.modal-change-password .modal-dialog {
  position: absolute;
  right: 33%;
  top: 20%;
  width: 500px;
}

.modal-change-password .modal-body {
  background-color: white;
}

.modal-change-password .modal-body .row {
  margin-bottom: 20px;
}

.modal-change-password .modal-body .form-label {
  padding-right: 0;
}

.modal-change-password .modal-change-password-error-list {
  padding-left: 0;
}

.modal-change-password .modal-change-password-error-list ul,
.modal-success .modal-body p {
  margin-bottom: 0;
}

.modal-change-password .modal-button-group-container,
.modal-success .modal-button-group-container {
  justify-content: end;
}

.modal-change-password .modal-button-group-container div {
  margin-top: 0;
}

.modal-success .modal-dialog {
  position: absolute;
  right: 33%;
  top: 20%;
  width: 410px;
}

.dialog-demo .p-button {
  margin: 0 0.5rem 0 0;
  min-width: 10rem;
}

.dialog-demo p {
  margin: 0;
  line-height: 1.5;
}

.dialog-demo .p-dialog .p-button {
  min-width: 6rem;
}

.change-password-input {
  display: block;
  margin-top: 30px;
}

.p-password input {
  width: 100%;
}
