.navigation-bar {
  display: flex;
  padding: 20px 40px;
}

.red-nav {
  background-color: #cf2338;
}

.blue-nav {
  background-color: #2346cf;
}

.green-nav {
  background-color: #67cf23;
}

.navigation-bar p {
  font-weight: bold;
  font-size: 16px;
  flex: 1;
  color: white;
  margin: 0;
}

.dropdown {
  text-align: right;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.username-container {
  display: flex;
}

.username-container div {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
}

.change-password-input {
  display: block;
  margin-top: 30px;
}

.p-password input {
  width: 100%;
}
