.red-nav {
  background-color: #cf2338;
}

.blue-nav {
  background-color: #2346cf;
}

.green-nav {
  background-color: #67cf23;
}

.navbar-brand {
  font-weight: bold;
  font-size: 16px;
  color: white;
  margin: 0;
  margin-left: 2rem;
}

.navbar .dropdown-menu .dropdown-item {
  font-weight: normal;
  font-size: 16px;
}

#logout-modal {
  max-width: 350px;
}

#logout-modal .modal-content {
  border-radius: 5px;
}

.modal-body {
  font-size: 16px;
  font-weight: normal;
}

.btn-confirm-advisor {
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: #e9424d;
  box-shadow: none !important;
}

.btn-cancel-advisor {
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: gray;
  box-shadow: none !important;
}

.btn-confirm-advisor:hover,
.btn-confirm-advisor:active {
  color: white;
  background-color: #cf2338;
}

.btn-cancel-advisor:hover,
.btn-cancel-advisor:active {
  color: white;
  background-color: #666666;
}
