.create-user {
  flex: 1;
  padding-left: 4rem;
  color: #6c757d;
}

.header-user-list {
  font-size: 16px;
  font-weight: bold;
  color: #cf2338;
}

.upper-form,
.lower-form {
  border: 1px solid #ced4da;
  border-radius: 6px;
  margin-top: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.upper-form p,
.lower-form p {
  margin: 0;
}

.create-user .form-title {
  color: #cf2338;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  margin-top: -0.75rem;
}

.inline-input-group {
  display: flex;
  flex-direction: row;
}

.inline-input-group .input-group {
  flex: 1;
  margin-top: 2rem;
}

#gender-label {
  font-size: 12px;
  position: absolute;
  top: 17.3rem;
}

#gender-label-update {
  font-size: 12px;
  position: absolute;
  top: 22.6rem;
}

.radio-input-group {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p-inputtext,
.p-calendar,
.p-dropdown {
  width: 90%;
}

.project-info-title {
  font-weight: bold;
  padding-left: 0.8rem;
  padding-right: 0.5rem;
}

.create-user-button-group {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}

.create-user-submit-button {
  border-color: #e9424d;
  text-align: right;
  background-color: #e9424d;
  margin-right: 1rem;
}

.create-user-button-group .create-user-submit-button:hover,
.create-user-button-group .create-user-submit-button:active {
  border-color: #cf2338;
  background-color: #cf2338;
  color: white;
}
